.container{
    margin: 0;
    
}
.container h1{
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    font-family: calibri;
    font-size: 50px;
    font-weight: 800;
}

.card {
    height: 100%;
}

.card-img-top {
    height: 300px; /* Set the desired height for the card images */
    object-fit: cover; /* Ensure the image covers the entire space without distortion */
}
.card-body{
    background-color: rgba(221, 224, 228, 0.452);
}